/* Importa as fontes Montserrat e Roboto Flex do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* Define margens e preenchimentos a zero e define o modelo de caixa */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', serif;
}

/* Define o estilo do corpo da página */
body{
    overflow-x: hidden; /* Remove a barra de rolagem horizontal */
    background-color: #f3f3f3; /* Define a cor de fundo */
    display: flex; /* Define o layout como flexbox */
    flex-direction: column; /* Organiza os itens na coluna */
    align-items: center; /* Alinha os itens ao centro */
    min-height: 100vh; /* Garante que a altura mínima seja 100% da altura da tela */
}

/* Estiliza o cabeçalho */
header{
    display: flex; /* Usa flexbox no cabeçalho */
    justify-content: center; /* Alinha o conteúdo ao centro */
    background-color: #f3f3f3; /* Define a cor de fundo */
    border-bottom-width: 2px; /* Define a espessura da borda inferior */
    border-bottom-color: #ff5c00; /* Define a cor da borda inferior */
    border-bottom-style: solid; /* Define o estilo da borda como sólida */
    width: 100vw; /* Define a largura do cabeçalho para 100% da largura da tela */
    height: 144px; /* Define a altura do cabeçalho */
}

/* Define o layout do container do cabeçalho */
header > section.header-container{
    width: 70vw; /* Define a largura do container como 70% da largura da tela */
    display: flex; /* Usa flexbox no container */
    justify-content: space-between; /* Espaça os itens igualmente */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

/* Define o tamanho e a posição do logo no cabeçalho */
header > section.header-container > img#logo{
    width: 144px; /* Define a largura do logo */
    height: 144px; /* Define a altura do logo */
}

/* Define o estilo do menu de navegação */
header > section.header-container > nav > ul#menu{
    display: flex; /* Exibe o menu como um flex container */
}

/* Estiliza cada item da lista do menu */
header > section.header-container > nav > ul#menu > li{
    list-style-type: none; /* Remove o marcador da lista */
    margin-right: 32px; /* Adiciona espaçamento entre os itens */
}

/* Define o estilo dos links no menu */
header > section.header-container > nav > ul#menu > li > a{
    letter-spacing: -0.1px; /* Define o espaçamento entre as letras */
    color: #1c1c1c; /* Define a cor do texto */
    text-decoration: none; /* Remove o sublinhado do texto */
}

/* Estiliza o estado de hover dos links no menu */
header > section.header-container > nav > ul#menu > li > a:hover{
    color: #ff5c00; /* Muda a cor do texto no hover */
    font-weight: bold; /* Torna o texto em negrito */
    transition: 0.3s ease-in-out; /* Define a transição suave para a cor e o peso da fonte */
    text-decoration: underline; /* Adiciona sublinhado no hover */
}

/* Estiliza o container principal */
main > section.main-container{
    width: 70vw; /* Define a largura do container como 70% da largura da tela */
    margin-top: 96px; /* Adiciona margem superior ao container */
}

/* Estiliza o título dentro do container principal */
main > section.main-container > h2{
    font-size: 2rem; /* Define o tamanho da fonte */
    text-align: center; /* Alinha o texto ao centro */
    margin-bottom: 48px; /* Adiciona margem inferior ao título */
}

/* Estiliza o container da imagem principal */
main > section.main-container > article.image-main-container{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* Adiciona sombra ao redor da imagem */
    border-radius: 8px; /* Define bordas arredondadas */
    display: flex; /* Usa flexbox para posicionar o conteúdo */
    justify-content: center; /* Centraliza o conteúdo dentro do container */
    position: relative; /* Define a posição do container como relativa */
    background-image: url("../public/images/Banner-Artigos-Esportivos-01.jpg"); /* Define a imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir o espaço do container */
    width: 100%; /* Define a largura para 100% */
    height: 720px; /* Define a altura do container */
    margin-bottom: 96px; /* Adiciona margem inferior ao container */
}

/* Estiliza o botão dentro da imagem principal */
main > section.main-container > article.image-main-container > button.btn{
    cursor: pointer; /* Altera o cursor para o tipo de ponteiro ao passar o mouse */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* Adiciona sombra ao botão */
    border: none; /* Remove a borda do botão */
    border-radius: 999px; /* Torna o botão completamente arredondado */
    background-color: #ff5c00; /* Define a cor de fundo do botão */
    font-weight: 600; /* Define o peso da fonte como semi-negrito */
    color: #f3f3f3; /* Define a cor do texto como branco */
    width: 160px; /* Define a largura do botão */
    height: 40px; /* Define a altura do botão */
    position: absolute; /* Define a posição como absoluta */
    bottom: 48px; /* Posiciona o botão a 48px da parte inferior */
}

/* Estiliza o estado de hover do botão */
main > section.main-container > article.image-main-container > button.btn:hover{
    transition: 0.5s ease-in-out; /* Adiciona transição suave no hover */
    animation: pulse 1.2s infinite; /* Aplica a animação de pulsação */
}

/* Estiliza o rodapé */
footer{
    width: 100vw; /* Define a largura do rodapé como 100% da tela */
    background-color: #ff5c00; /* Define a cor de fundo do rodapé */
    color: #f3f3f3; /* Define a cor do texto como branco */
    display: flex; /* Usa flexbox para o rodapé */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

/* Define o layout do container do rodapé */
footer > section.footer-container{
    display: flex; /* Exibe o container do rodapé como flex */
    justify-content: center; /* Centraliza o conteúdo no eixo horizontal */
    align-items: center; /* Alinha o conteúdo no eixo vertical */
    width: 70vw; /* Define a largura do container */
    height: 320px; /* Define a altura do container */
}

/* Define o layout e estilo das colunas no rodapé */
footer > section.footer-container > article.local,
footer > section.footer-container > article.horario,
footer > section.footer-container > article.contato
{
    width: 33.33%; /* Cada coluna ocupa 33% da largura do container */
    display: flex; /* Usa flexbox nas colunas */
    flex-direction: column; /* Organiza os itens em coluna */
    align-items: center; /* Alinha os itens ao centro */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    gap: 24px; /* Define o espaçamento entre os itens */
}

/* Estiliza os ícones nas colunas do rodapé */
footer > section.footer-container > article.local > section.row > i.fa-solid,
footer > section.footer-container > article.horario > section.row > i.fa-solid,
footer > section.footer-container > article.contato > section.row > i.fa-solid{
    font-size: 32px; /* Define o tamanho dos ícones */
    text-align: center; /* Alinha os ícones ao centro */
}

/* Estiliza o texto nas colunas do rodapé */
footer > section.footer-container > article.local > p,
footer > section.footer-container > article.horario > p,
footer > section.footer-container > article.contato > p{
    letter-spacing: -0.3px; /* Define o espaçamento entre as letras */
    width: 80%; /* Define a largura do texto */
    font-size: 1rem; /* Define o tamanho da fonte */
}

/* Define a animação de pulsação */
@keyframes pulse {
    0%{
        transform: scale(1); /* Inicia com o tamanho normal */
    }

    50%{
        transform: scale(1.04); /* Aumenta um pouco o tamanho */
    }

    100%{
        transform: scale(1); /* Retorna ao tamanho original */
    }
}
